* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.display {
    height: 10px;
    width: 400px;
}