* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
}

.display {
    height: 115px;
    width: 400px;
}

.btn-layout {
    display: flex;
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn {
    flex: 1;
}

.add {
    flex: 2;
}